<form [formGroup]="changepassword" enctype="multipart/form-data">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="card" style="margin-top: 123px;
                margin-bottom: 59px;">
                    <h2 class="card-title text-center"> Change Your Password </h2>
                    <div class="card-body py-md-4">
                        
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="username"
                                    placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Current Password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="newpassword1"
                                    placeholder="New Password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    formControlName="newpassword2" required>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <!-- <a [routerLink]="['/Usermaster/changepassword']">Reset all</a> -->
                                <a [routerLink]="['/customermaster/customerhome']">Back to home</a>
                                <button (click)="onSubmit()" class="btn btn-primary">Save</button>
                            </div>
                          </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>