<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Costume View</h4>
            <!-- <p class="card-description">
                Add class <code>.table-striped</code>
            </p> -->
            <!-- <form >
                <input type="hidden" formControlName="loginid" /> -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th> # </th>
                            <th> Costume Name</th>
                            <th> Category Name</th>
                            <th>Description </th>
                            <th> Image </th>
                            <th> Price </th>
                            <th> Stock </th>
<th></th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of CostumeArray,let i=index">
                            <td class="py-1">
                                {{i+1}}
                            </td>
                            <td>{{data.costumename}}</td>
                            <td>{{data.categoryname}}</td>
                            <td>{{data.costumedes}}</td>


                            <td class="text-danger"><img style="width:100px;height:100px;"
                                    src="http://localhost:3000/images/{{data.costumeimg}}">
                            </td>
                            <td>{{data.price}}</td>
                            <td>{{data.stock}}</td>

                            <td>
                                <a><button [routerLink]="['/shopmaster/costumeedit',data.costumeid]" type="submit" >Edit</button></a>&nbsp;&nbsp;
                                </td>
                           
                            <td>
                                
                                <button type="button"  (click)="confirmDelete(data.costumeid)">Delete</button>
                            </td>
                            <td>
                                
                                <button type="submit"  [routerLink]="['/shopmaster/changestock',data.costumeid]">Change Stock</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
               
            </div>
        <!-- </form> -->
        </div>
    </div>
</div>