<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;margin-bottom: 157px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">District Registration</h2>

              <form  [formGroup]="districtregform">

                <div class="form-outline mb-4">
                    <label class="form-label"  for="form3Example1cg">District Name</label>

                 
                 <input type="text" style="border: 1px solid #0c0e0f" id="form3Example1cg" formControlName="districtname"  placeholder="Enter the District Name" class="form-control form-control-lg" />
                 <div
                 *ngIf="districtregform.controls['districtname'].invalid && (districtregform.controls['districtname'].dirty || districtregform.controls['districtname'].touched) || validationstatus">
                 <div *ngIf="districtregform.controls['districtname'].errors['required']" style="color: red;">Please Enter District Name </div>
                 <div *ngIf="districtregform.controls['districtname'].errors['pattern']" style="color: red;">First letter must be character </div>
               </div>
                </div>

                   

                <div class="d-flex justify-content-center" >
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="Onsubmit()" style="width:175px;">REGISTER</button> &nbsp;
               
                <button type="reset"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="width:175px;" >CANCEL</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
