<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Customer Registration</h2>

              <form [formGroup]="customerregform">

                <div class="form-outline mb-4">
                    <label class="form-label"  for="form3Example1cg">Customer Name</label>

                  <input type="text" style="border: 1px solid #0c0e0f" id="form3Example1cg" formControlName="customername" class="form-control form-control-lg" placeholder="Enter the Customer Name"/>
                
                <div
                *ngIf="customerregform.controls['customername'].invalid && (customerregform.controls['customername'].dirty || customerregform.controls['customername'].touched) || validationstatus">
                <div *ngIf="customerregform.controls['customername'].errors['required']" style="color: red;">Please Enter Your Name </div>
                <div *ngIf="customerregform.controls['customername'].errors['pattern']" style="color: red;">First letter must be character </div>
              </div>
            </div>
                
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example1cg">District Name</label>
<br>
                    <select class="select" formControlName="districtid" (change)="onChange()" style="height: 39px;
                    width: 455px;">
                        <option value="" >-----Select the District-----</option>
                        <option *ngFor="let data of DistrictArray" value="{{data.districtid}}">
                          {{data.districtname}}
                        </option>
                       
                       
                    </select>
                    <div
                    *ngIf="customerregform.controls['districtid'].invalid && (customerregform.controls['districtid'].dirty || customerregform.controls['districtid'].touched) || validationstatus">
                    <div *ngIf="customerregform.controls['districtid'].errors['required']" style="color: red;">Please Select District Name </div>
                  </div>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example1cg">Location Name</label>
<br>
                    <select class="select" formControlName="locationid" (change)="onChange()" style="height: 39px;
                    width: 455px;">
                        <option value="">-----Select the Location-----</option>
                        <option *ngFor="let data of LocationArray" value="{{data.locationid}}">
                          {{data.locationname}}
                        </option>
                       
                       
                    </select>
                    <div
                    *ngIf="customerregform.controls['locationid'].invalid && (customerregform.controls['locationid'].dirty || customerregform.controls['locationid'].touched) || validationstatus">
                    <div *ngIf="customerregform.controls['locationid'].errors['required']" style="color: red;">Please Select Location Name </div>
                  </div>
                </div>



                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Contact No</label>
                  <input type="text" style="border: 1px solid #0c0e0f" id="form3Example3cg" formControlName="customercontact" placeholder="Enter the Contact Number" class="form-control form-control-lg" />
                  <div *ngIf="customerregform.controls['customercontact'].invalid && (customerregform.controls['customercontact'].dirty || customerregform.controls['customercontact'].touched)">
                      <div *ngIf="customerregform.controls['customercontact'].errors['required']" style="color: red;">Please Enter Contact</div>
                      <div *ngIf="customerregform.controls['customercontact'].errors['pattern']" style="color: red;">Contact number must be exactly 10 digits and contain only numeric characters</div>
                  </div>
              </div>
              
              
              
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Email </label>
                    <input type="text" style="border: 1px solid #0c0e0f" id="form3Example3cg" formControlName="customeremail" placeholder="Enter the Email" class="form-control form-control-lg" />
                    <div *ngIf="customerregform.controls['customeremail'].invalid && (customerregform.controls['customeremail'].dirty || customerregform.controls['customeremail'].touched) || validationstatus">
                      <div *ngIf="customerregform.controls['customeremail'].errors['required']" style="color: red;">Please Enter Your Email  </div>
                      <div *ngIf="customerregform.controls['customeremail'].errors['pattern']" style="color: red;">Please check your format of Email </div>
                      </div>
                  </div> 
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Username </label>
                    <input type="text" style="border: 1px solid #0c0e0f" id="form3Example3cg" formControlName="username" placeholder="Enter the Username" class="form-control form-control-lg" />
                    <div *ngIf="customerregform.controls['username'].invalid && (customerregform.controls['username'].dirty || customerregform.controls['username'].touched) || validationstatus">
                      <div *ngIf="customerregform.controls['username'].errors['required']" style="color: red;">Please Enter the Username  </div>
                      <!-- <div *ngIf="customerregform.controls['username'].errors['username']" style="color: red;">Please check your format of Email </div>            -->
                             </div>
                  </div> 
                  <div class="form-outline mb-4">
                    <label class="password" for="form3Example3cg">Password</label>
                    <input type="password" style="border: 1px solid #0c0e0f" id="form3Example3cg" formControlName="password" placeholder="Enter the Password" class="form-control form-control-lg" />
                    <div *ngIf="customerregform.controls['password'].invalid && (customerregform.controls['password'].dirty || customerregform.controls['password'].touched) || validationstatus">
                      <div *ngIf="customerregform.controls['password'].errors['required']" style="color: red;">Please Enter the password  </div>
                    </div>
                  </div>
                

               
                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="Onsubmit()" style="width: 175px;">REGISTER</button>  &nbsp;
                
                  
          
                <button type="reset"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="width: 175px;">CANCEL</button>
                </div>
<!-- 
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p> -->

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
