<section class="site-section">
  <div class="container">
    <!-- Heading for Costume View -->
    <div class="row">
      <div class="col" style="margin-left:300px;">
        <h3 class="text-dark" style="margin-left: 150px; ">Costume View</h3>
      </div>
    </div>
    <br>
    <form [formGroup]="viewmorecostumeform" style="margin-left: 156px;">
      <!-- Display each costume and its details on separate rows -->
      <div class="row">
        <ng-container *ngFor="let data of CostumeArray">
          <div class="col-md-6 mb-5">
            <div class="video-wrap">
              <img src="http://localhost:3000/images/{{data.costumeimg}}" alt="Image placeholder" style="width:360px;height:471px;" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 mb-5">
            <div class="pl-md-5" style="margin-left: -123px;">
              <p class="lead text-dark"><b>Costume name: <i>{{data.costumename}}</i></b></p>
              <p class="lead text-dark"><b>Price per day: <i>{{data.price}}</i> only</b></p>
              <p class="lead text-dark"><b>Shop Name: <i>{{data.shopname}}</i></b></p>
              <p class="lead text-dark"><b>Shop Email: <i>{{data.shopemail}}</i></b></p>
              <p class="lead text-dark"><b>Shop Contact No.: <i>{{data.shopcontact}}</i></b></p>
              <p class="lead text-dark"><b>District Name: <i>{{data.districtname}}</i></b></p>
              <p class="lead text-dark"><b>Location Name: <i>{{data.locationname}}</i></b></p>
              <div class="text">
                <a [routerLink]="['/customermaster/request',data.costumeid]" class="btn btn-primary">Request</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</section>
